.ad {
    display: grid;
    padding: 16px 16px 0;
    grid-template-areas: "art . text";
    grid-template-columns: 310px 12px;
    max-width: 1100px;
    min-height: 350px;
}
.ad .text{
    grid-area: text;
    font-size: 19px;
    line-height: 22px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color:#ffffff;
}
.ad .art{
    width: 200px;
    height: 200px;
}
.ad .text h2{
    line-height: 0%;
    padding-bottom: 10px;
    display: inline;
}
.ad .text h4{
    line-height: 0%;
    display: inline;
}