body{
    margin: 0px;
}
.ad {
    display: grid;
    padding: 16px 16px 0;
    grid-template-areas: "art . text";
    grid-template-columns: 310px 12px;
    max-width: 1100px;
}
.ad .text{
    grid-area: text;
    font-size: 19px;
    line-height: 22px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.ad .art{
    width: 200px;
    height: 200px;
}
table{
    background-color: aqua;
    border: 1px solid aqua;
}