<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="author" content="JZ">
        <meta name="description" content="test">
        <meta name="keywords" content="test,css,html">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>создатель модпаков</title>
        <link rel="icon" href="static/img/belj-mods-logo.png">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/creator.css">
    </head>
    <body>
        <header>
            <table width="70%" height="60px" align="center">
                <nav class="navbar navbar-light bg-light"></nav>
                    <td><a href="/"><div>Главная страница</div></a></td>
                    <td><a href="/modpacks"><div>Все модпаки</div></a></td>
                    <td><a href="/smk" title="СМК"><div>Лучший майнкрфат сервер</div></a></td>
                    <td><a href="/belj_games_studio"><div>Проекты нашей студии</div></a></td>
                    {% if current_user.is_authenticated %}
                        <td><a href="/creator"><div>Добавить модпак</div></a></td>
                        <td><a href="/logout"><div>Выйти из аккаунта</div></a></td>
                    {% else %}
                        <td><a href="/register"><div>Зарегистрироваться</div></a></td>
                        <td><a href="/login"><div>Войти</div></a></td>
                    {% endif %}
                </nav>
            </table>
        </header><br>
        <main>
            {% if error %}
                <h1>Такой модпак уже существует! Пожалуйста, измените название модпака</h1>
            {% endif %}
            <form action="http://localhost:5000/creator" class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3" enctype="multipart/form-data" method="post">
                <label for="game_name">Игра для которой создан модпак</label>
                <select type="text" id="game_name" name="game_name" required>
                    <option>Minecraft</option>
                    <option>Project Zomboid</option>
                    <option>Lethal Company</option>
                    <option>Rimworld</option>
                    <option>Stardew Valley</option>
                    <option>7 Days To Die</option>
                    <option selected>Прочее</option>
                </select><br>
                <label for="game_version">Поддерживаемые версии игры</label>
                <input type="text" id="game_version" name="game_version" required minlength="3"><br><br>
                <label for="author_name">Имя автора</label>
                <input type="text" id="author_name" name="author_name" required minlength="3"><br>
                <label for="modpack_name" >Название модпака</label>
                <input type="text" id="modpack_name" name="modpack_name" required minlength="5"><br><br>
                <label for="modpack_icon">Лого модпака</label>
                <input type="file" accept="image/*" id="modpack_icon" name="modpack_icon"><br><br>
                <label for="game_link" >Ссылка на скачивание модпака (желательно использовать <a href="https://drive.google.com" target="_blank">гугл диск</a>)</label>
                <input type="url" id="game_link" name="game_link" required><br><br>
                <label for="modpack_short_description">Краткое описание (максимум 100 символов)</label><br>
                <textarea id="modpack_short_description" name="modpack_short_description" maxlength="100"></textarea><br><br>
                <label for="modpack_description">Описание при открытии страницы модпака (максимум 1000 символов)</label><br>
                <textarea id="modpack_description" name="modpack_description" maxlength="1000"></textarea><br><br>
                <label for="download_guide">Гайд по установке модпака (максимум 1000 символов)</label><br>
                <textarea id="download_guide" name="download_guide" maxlength="1000"></textarea><br><br>
                <input type="submit" class="submit_button">
            </form>
        </main>
    </body>
</html>