<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="author" content="BELJ Games Studio">
        <meta name="description" content="modpacks">
        <meta name="keywords" content="mod,mods,modpack,modpacks">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Лучший майнкрфат сервер</title>
        <link rel="icon" href="static/img/belj-mods-logo.png">
        <link rel="stylesheet" href="static/css/base.css">
        <link rel="stylesheet" href="static/css/smk.css">
    </head>
    <body>
        <header>
            <table width="70%" height="60px" align="center">
                <nav class="navbar navbar-light bg-light"></nav>
                    <td><a href="/"><div>Главная страница</div></a></td>
                    <td><a href="/modpacks"><div>Все модпаки</div></a></td>
                    <td><a href="/smk" title="СМК"><div>Лучший майнкрфат сервер</div></a></td>
                    <td><a href="/belj_games_studio"><div>Проекты нашей студии</div></a></td>
                    {% if current_user.is_authenticated %}
                        <td><a href="/creator"><div>Добавить модпак</div></a></td>
                        <td><a href="/logout"><div>Выйти из аккаунта</div></a></td>
                    {% else %}
                        <td><a href="/register"><div>Зарегистрироваться</div></a></td>
                        <td><a href="/login"><div>Войти</div></a></td>
                    {% endif %}
                </nav>
            </table>
        </header>
        <main>
            <div class="ad">
                <div class="art">
                    <img src="static/img/SMK.png" width="310px" alt="SMK logo">
                </div>
                <a class="text">
                    Я бы хотел вам порекомендовать СМК, который откроит двери второго сезона уже в конце июня 2024 года.Что же именно такое СМК? 
                    СМК - это лучший приватный сервер в майнкрафте с ванильным выживанием и минимумом дополнительного контента, поддерживающий как 
                    оффициальные так и пиратские копии игры, который откроит двери второго сезона уже в конце июня 2024 года, на который можно попасть, 
                    купив проходку за 200 рублей или даже дешевле если вы укажете при покупке уникальный промокод yandex344. Сейчас вы можете задаться 
                    вопросом: "Что мне делать на СМК?" - и я вам отвечу: "Вы можете выживать в одиночку, присоединиться к чужому городу или даже создать 
                    свой собственный город, также вы можете торговать, строить красивые и функциональные постройки, создавать ивенты или учавствовать в 
                    чужих". После столь замечательной презентации вы наверняка захотите купить проходку, для этого просто напишите одному из наших 
                    доверенных лиц в дискорде (теги: pingvin_one | jarzektor) и просто следовать их указаниям
                </a>
            </div>
            <div class="ad"><a href="https://discord.gg/B7rvz3zPBx" class="text">Дискорд сервер СМК: (ОН ТУТ, ПРОСТО НАЖМИ НЕ МЕНЯ)</a></div><br>
            <div width="100%" height="100%" align="center">
                {% if current_user.is_authenticated %}
                <iframe width="560" height="315" src="https://www.youtube.com/embed/maEBiFrGiak?si=QMgQOaBhdXj0AIXW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                {% endif %}
            </div>
        </main>
    </body>
</html>